* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    font-weight: bolder;
    font-size: 40px;
    padding: 1rem;
    background-color: rgb(192,192,192);
    border: 5px solid rgb(0,51,51);
    margin: -1rem -1rem -1rem -1rem;
}

.recipes-vodka {
    font-size: 20px;
    padding: 1rem;
    background-color: rgb(192,192,192);
    border: 5px solid rgb(0,51,51);
    margin: -1rem -1rem -1rem -1rem;   
    }

.recipes-greek {    
    font-size: 20px;
    padding: 1rem;
    background-color: rgb(192,192,192);
    border: 5px solid rgb(0,51,51);
    margin: -1rem -1rem -1rem -1rem;   
}

.recipes-spaghetti {    
    font-size: 20px;
    padding: 1rem;
    background-color: rgb(192,192,192);
    border: 5px solid rgb(0,51,51);
    margin: -1rem -1rem -1rem -1rem;   
}

body {
    background-color: whitesmoke;
    color: rgb(0,51,51);
    padding: 1rem;
    max-width: 600px;
    margin: 5rem auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}